<%= stylesheet_link_tag "index", "data-turbo-track": "reload" %>

<div class="jumbotron">
  <h1>Dashboards</h1>
  <% if account_signed_in? %>
    <p>
      Esta plataforma permite que você crie vários Dashboards, com gráficos informativos sobre suas tarefas.
    </p>
    <p>
      Comece agora mesmo clicando em 'Menu' >> 'Meus Dashboars' >> 'Novo Dashboard' para, então, definir e criar um nome para o seu Dashboard.
    </p>
  <% else %>
    <p>
      Gerencie suas tarefas em qualquer lugar!
    </p>
    <p>
      <%= link_to 'Crie Sua Conta', new_account_path, class: 'btn btn-primary btn-lg' %>
      <%= link_to 'Acesse Sua Conta', entry_path, class: 'btn btn-primary btn-lg' %>
    </p>
  <% end %>
</div>