<div class="jumbotron">
  <h1>Dashboards</h1>
  <% if account_signed_in? %>
    <div>Esta plataforma permite que você...</div>
  <% else %>
    <p>
      Gerencie seus projetos em qualquer lugar!
    </p>
    <p>
      <div>Ainda não é membro?</div>
      <%= link_to 'Crie Sua Conta', new_account_path, class: 'btn btn-primary btn-lg' %>
    </p>
    <p>
      <div>Já é um membro?</div>
      <%= link_to 'Acesse Sua Conta', entry_path, class: 'btn btn-primary btn-lg' %>
    </p>
  <% end %>
</div>