<div class="form-group">
    <div>
        <%= f.label :nome %>: (Tamanho Minimo: 1 caracter)
    </div>
    <div>
        <%= f.text_field :name, class: "form-control" %>
    </div>
</div>

<div class="form-group">
    <div>
        <%= f.label :data_de_conclusão %>:
    </div>
    <div>
        <%= f.date_field :finishDate, class: "form-control" %>
    </div>
</div>