<div class="form-group">
    <div>
        <%= f.label :email %>
    </div>
    <%= f.email_field :email, class: "form-control" %>
</div>

<div class="form-group">
    <div>
        <%= f.label :senha %>
    </div>
    <%= f.password_field :password, class: "form-control" %>
</div>