 <%= form_for :session, url: account_path(current_account), method: :delete do |form| %>
        <p>
        <%= form.submit 'Excluir Conta', class: 'btn btn-primary btn-lg' %>
        </p>
 <% end %>