<div>Tô logado!</div>

    <%= link_to 'Sair', exit_path, class: 'btn btn-primary btn-lg' %>

<div>

    <%= link_to 'Editar', confirm_edit_path, class: 'btn btn-primary btn-lg' %>
    
</div>
<div>

    <%= link_to 'Excluir Conta', confirm_destroy_path, class: 'btn btn-primary btn-lg' %>

</div>