<p>
    <%= link_to 'Meus Dashboards', account_dashboards_path(current_account), class: 'btn btn-primary btn-lg' %>

    <%= link_to 'Editar Conta', confirm_edit_path, class: 'btn btn-primary btn-lg' %>

    <%= link_to 'Excluir Conta', confirm_destroy_path, class: 'btn btn-primary btn-lg' %>
</p>